<style>
.message-content {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
}

img {
  width: 100%;
}

p {
  text-align: center;
}

</style>

<div class="message-container">
    <img src={{linkImg}} alt="Banner da Promoção" />
    <p>Caso não queira mais receber estes emails, <a href={{linkUnsubscribe}}>descadastre-se aqui</a></p>
  </p>
  </p>
</div>
